*
{

	margin :0;
	padding:0;
}



body
{
		overflow-y:scroll;
		overflow-x: hidden; 
}



.header{
	position: relative;
	height: 100vh; 
	background-position:center;
	background-size: cover;
} 

.main-heading h1{
	font-family:Brush Script MT;
	font-size: 100px;
	font-weight: 250;
	text-shadow:-1px 0 #e67e22, 0 3px #e67e22, 3px 0 #e67e22, 0 -1px #e67e22;
	margin-top: 100px;
	color: white;
	/*text-transform:uppercase ;*/
	margin-bottom: 90px;


}

.btn
{
	padding: 10px 30px;
	border: 2px solid #e67e22;
}

.header img
{
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height: 100vh;
	z-index: 1;
}

#cf img
{
	animation-name:cf3FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	animation-duration:13s;
	animation-direction:alternate;
	position:absolute;  
}

#cf img:nth-of-type(1)
{
	animation-delay:12s;
}

#cf img:nth-of-type(2)
{
	animation-delay:8s;
}

#cf img:nth-of-type(3)
{
	animation-delay:4s;
}

@keyframes cf3FadeInOut
{
	0%
	{
		opacity:1;
	}

	25%
	{
		opacity:0;
	}

	75%
	{
		opacity:0;
	}
	100%
	{
		opacity:1;
	}
}





.header-buttons a
{
	border:3px solid #ffffff;
	padding:10px 60px; /*TR (10px) BL(30px)*/
	margin-right: 15px;
	color: white;
	transition: all 0.5s ease-in;

} 
.header-buttons .btn-full
{
	background-color: #e67e22;
	color: white;
}
.header-buttons a:hover
{
	background-color: #e67e22;
	color: white;

}



header .navbar-custom .navbar-collapse .navbar-right 
{
	background: transparent;
	position: absolute;
	right: 30px;
	top: 0px;
	z-index: 2;
}

header .navbar-custom .navbar-header a.navbar-brand
{
	color: #fff;
	z-index:2;
	position: absolute; 
	left: 10px;
	font-family:Brush Script MT;
	font-size: 45px; 
	left:20px;

}



header .header-desc{
	position: absolute;
	left: 35%;
	top:100px;
	z-index: 2;
}

 .icon-bar
{
	background-color:white;
}

.navbar-custom .navbar-nav li a:hover
{
	background: transparent;
}

.navbar-custom .navbar-nav li a
{
	color: white;

}

.navbar-brand
{
	color:white;

}


.about h1:after
{
	content:"";
	width: 120px; 
	height: 3px;
	background-color:#e67e22;
	position:absolute;
	bottom:-85px; 
	margin-left:-100px;
}

.description
{
	margin-top:20px;
	font-size:20px;
	margin-bottom: 45px;
}

.about h2.topic-2
{
	font-family:Brush Script MT;
	font-weight: bold;
	font-size:65px;
	text-align: center;
	margin-left: 5px;

}

.about h1.topic-1
{
	font-family:Brush Script MT;
	font-size:60px;
}







/*========== Responsive parts==================*/

@media (max-width: 800px) 
{
	header .navbar-custom .navbar-header .navbar-toggle 
	{
		position: absolute;
		right: 10px;
		top: 0px;
		z-index: 2;
	}

	header .header-desc
	{
		position: absolute;
		left: 15%;
		top:40px;
		z-index: 2;
	}

	header .header-desc .main-heading h1
	{
		font-size: 30px;
	}

	header .header-desc .header-buttons a
	{
		font-size: 10px;
		padding:8px 50px;
		margin-top:10px;


	}

	header .navbar-custom .navbar-header a.navbar-brand
	{
		position: absolute;;
		left:5%;
		top: 0px;
		font-size:20px;
	}

	.description
	{
		position: absolute;
		font-size:10px;
	}
}

@media (max-width: 400px)
 {
	header .header-desc
	{
		position: absolute;
		left: 10%;
		top:40px;
		z-index: 2;
	}
}